<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<h3 th:text="#{zona.privada.message}">Esta es una zona privada la web</h3>
		<p sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{home.admin}">Inicio de sesión como admin</p>
		<p sec:authorize="hasRole('ROLE_USER')" th:text="#{home.user}"> Inicio de sesión como user</p>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>